<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">

  <servlet>
    <servlet-name>forward</servlet-name>
    <servlet-class>lesson07.Forward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forward</servlet-name>
    <url-pattern>/lesson07/forward</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>redirect</servlet-name>
    <servlet-class>lesson07.Redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirect</servlet-name>
    <url-pattern>/lesson07/redirect</url-pattern>
  </servlet-mapping>

</web-app>
